<!DOCTYPE html>
<html>
  <%include ../partials/head.ejs%>
  <body>
    <%include ../partials/menu.ejs%>
    <!--Page Contents-->
    <div class="pusher">
      <div class="ui vertical stripe segment" style="margin-top:40px;">
        <div class="ui middle aligned stackable grid container center aligned">
          <div class="row five wide column">
            <h2>Silakan isi form berikut sebelum melakukan pemesanan :</h2>
            <form class="ui form segment" action="/profile/create" method="post">
              <div class="field">
                <label style="text-align:left">Nama Depan</label>
                <input type="text" name="first_name" placeholder="Nama Depan">
              </div>
              <div class="field">
                <label style="text-align:left">Nama Belakang</label>
                <input type="text" name="last_name" placeholder="Nama Belakang">
              </div>
              <div class="field">
                <label style="text-align:left">Email</label>
                <input type="text" name="email" placeholder="Email">
              </div>
              <div class="field">
                <label style="text-align:left">Telepon</label>
                <input type="text" name="phone_number" placeholder="No Telepon">
              </div>
              <input class="ui primary button" type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
      <%include ../partials/footer.ejs%>
    </div>
  </body>
</html>
