<div class="ui large top fixed menu">
  <div class="ui container">
    <a class="item">Home</a>
    <a class="item">Movies</a>
    <a class="item">ShowTime</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
