<div class="ui large top fixed menu">
  <div class="ui container">
    <a href="/" class="item">Home</a>
    <a href="/movies" class="item">Movies</a>
    <a href="/showtime" class="item">ShowTime</a>
    <div class="right menu">
      <div class="item">
        <a href="/signin" class="ui button">Sign in</a>
      </div>
      <div class="item">
        <a href="/signup" class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
