<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
  </head>
  <body>
    <h1>Change password</h1>
    <form class="" action="/profile/changepassword" method="post">
      <label for="">User Name: </label>
      <input type="text" name="username" value="<%= dataProfile.first_name %>"><br>
      <label for="">Password: </label>
      <input type="password" name="password" value="<%= dataProfile.phone_number %>"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
