<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign In Page</title>
  </head>
  <body>
    <form class="" action="/signin" method="post">
      <label for="">Username</label>
      <input type="text" name="username" placeholder="input your username"><br>
      <label for="">Password</label>
      <input type="password" name="password" placeholder="input your password"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
