<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
  </head>
  <body>
    <h1>Create your account</h1>
    <%if(error) { %>
      <h4 style="color: red"><%= error %></h4>
    <% } %>
    <form class="" action="/signup" method="post">
      <label for="">Username</label>
      <input type="text" name="username" placeholder="choose your username"><br>
      <label for="">Password</label>
      <input type="password" name="password" placeholder="create a password"><br>
      <!-- set default role -->
      <input type="text" name="role" value="customer" hidden>
      <!-- end set default role -->
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
