<!DOCTYPE html>
<html>
  <%include ../partials/head.ejs%>
  <body>
    <%include ../partials/menu.ejs%>
    <!--Page Contents-->
    <div class="pusher">
      <div class="ui vertical stripe segment" style="margin-top:40px;">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="center aligned column">
              <h3>List Of Movie</h3>
            </div>
          </div>
          <div class="ui four column row">
            <%movies.forEach(movie => {%>
              <div class="column">
                <div class="ui segment">
                  <div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div>">
                    <div class="image">
                      <img src="/img/tes.jpg">
                    </div>
                    <div class="content">
                      <div class="header">
                        <%=movie.title%>
                      </div>
                      <div class="description">
                        <%=movie.description%>
                      </div>
                    </div>
                    <div class="ui two bottom attached buttons">
                      <div class="ui button">
                        <i class="add icon"></i>
                        More
                      </div>
                      <div class="ui primary button">
                        <i class="play icon"></i>
                        Pesan
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <%})%>
          </div>
          <div class="row">
            <div class="center aligned column">
              <a class="ui huge button">Find More</a>
            </div>
          </div>
        </div>
      </div>
      <%include ../partials/footer.ejs%>
    </div>
  </body>
</html>
