<!DOCTYPE html>
<html>
  <%include ../partials/head.ejs%>
  <body>
    <%include ../partials/menu.ejs%>
    <!--Page Contents-->
    <div class="pusher">
      <div class="ui vertical stripe segment" style="margin-top:40px;">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="center aligned column">
              <h3>List Of Movie</h3>
            </div>
          </div>
          <div class="ui four column row">
            <%for(var i = 0; i<10; i++){%>
              <div class="column">
                <div class="ui segment center aligned">
                  <img src="/img/tes.jpg">
                  <p>qweuiysa askjhdas kasdkj sakfjsncjslkajsd lkajsdnlkjasc</p>
                  <div class="ui primary button">
                    Book
                  </div>
                </div>
              </div>
            <%}%>
          </div>
          <div class="row">
            <div class="center aligned column">
              <a class="ui huge button">Find More</a>
            </div>
          </div>
        </div>
      </div>
      <%include ../partials/footer.ejs%>
    </div>

  </body>
</html>
